server:
  socketpath: /tmp/runtime.sock
permissions:
  host: permissions-api.enterprise.dev
jwt:
  jwksuri: https://identity-api.enterprise.dev/jwks.json
  issuer: https://identity-api.enterprise.dev/
events:
  nats:
    url: nats://localhost:4222
    credsFile: /tmp/nats.creds
    publishTopic: myapp
tracing:
  enabled: false
accessTokenProvider:
  enabled: false
  source:
    file:
      tokenPath: /var/run/secrets/kubernetes.io/serviceaccount/token
    # clientCredentials:
    #   issuer: https://identity-api.enterprise.dev/
    #   clientID: idntcli-abc123
    #   clientSecret: idntclisecret
  exchange:
    issuer: https://identity-api.enterprise.dev/
    grantType: ""
    tokenType: ""
